@import "settings/stardog";
@import "components/asciidoc";
@import "components/awesome-icons";

// Your custom SCSS should be written here...

//@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,400italic);
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);

html * {
   @include box-sizing(border-box);
}

body {
   background: $body-bg;
   font-family: $body-font-family;
   font-weight: $body-font-weight;
   color: $body-font-color;
   position: relative;
   -webkit-font-smoothing: $font-smoothing;
}

html, body {
   font-family: $body-font-family;
   height: 100%;
}

.sidebarblock>.content>.title {
    text-align: left;
}

#preamble>div.sectionbody>div.paragraph>p {
    font-weight: normal;
    font-size: 22px;
}

.sidebarblock {
    margin-top: 2.5em;
}

.sect0 {
   color: $sd-med-blue;
   font-weight: 300;
   font-size: 56px;
   /* text-transform: uppercase; */
}

#header > h1:first-child {
    font-weight: 200;
    font-size: 100px;
    color: $sd-lime;
}

#header .details {
    display: none;
}

.hide {
   display: none;
}

.hide.active, .show {
   display: block;
}

.fixed {
   position: fixed;
   white-space: nowrap;
}

.text-center {
   text-align: center;
}

.text-left {
   text-align: left;
}

.text-right {
   text-align: right;
}

code,tt,pre,kbd,samp,var, pre span {font-family: "Anonymous Pro"; font-weight: 400 /*$font-weight-bold*/;}

a {
   text-decoration: none;
   padding-bottom: 0px;
   color: $sd-med-blue;
   //border-bottom: 1px solid $sd-med-blue;
}

a:visited {
   color: $sd-med-blue;
   border: 0;
   text-decoration: none;
}

h2 a,h3 a,h4 a,h5 a,h6 a, p#tocnav a, .sidebar-nav a, i a, a img#thelogo, .fn-marker {
   text-decoration: none;
   background: none;
   border: 0;
}

a#a52:hover {
   text-decoration: none;
   background: none;
   border: 0;
}

pre {
}

dd {
}

dl { }

h2 {
   color: $sd-med-blue;
}

thead,tfoot {
   font-weight: $font-weight-bold
}

table{
   border: 1px solid #F0F8FF;
   font: $body-font-family;
}

th, td{
   padding: 4px;
   font: $body-font-family;

}

th{
   color: #fff;
   background-color: #aaa;
   font: $body-font-family;

}


.container + .container {
   padding: 75px 20px 70px 20px;
}

.container + .container.nopad {
   padding-top: 0;
   padding-bottom: 0;
}

.container.shaded {
   background-color: $shaded-container-color !important;
}

.container {
   min-width: 0;
   margin-left: 0;
   margin-right: 0;
}

.nlm {
   margin-left: 0px;
   padding: 0px;
   border: 0;
}


cite {  border-bottom: 1px solid $black;}

.wrapper + .wrapper {
   padding: 75px 20px 70px 20px;
}

.wrapper + .wrapper.nopad {
   padding-top: 0;
   padding-bottom: 0;
}

.wrapper.shaded {
   background-color: #e9e9e9 !important;
   /*background-size: cover;*/
}

.iconlinks {
   text-decoration: none;
   color:$body-font-color;
   background-color: $global-bg-color;
}

.iconlinks:hover {
   background-color: $global-bg-color;
   text-decoration: none;
}

sup {
   vertical-align: baseline;
   position: relative;
   top: -0.45em;
   font-size: $small;
   font-weight: $font-weight-bold;
}

sub {
   vertical-align: baseline;
   position: relative;
   top: 0.45em;
   font-size: $small;
   font-weight: $font-weight-bold;

}

/* Fonts */

// Import Google Web Fonts
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600,700);
//@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,regular,italic,500,500italic,700,700italic&subsets=latin-ext,greek,cyrillic-ext,cyrillic,latin,greek-ext);

// Set local icon font
@font-face {
   font-family: "#{$icons}";
   font-style: normal;
   font-weight: 400;
   src: url(../fonts/icons/#{$icons}.eot);
   src: url("../fonts/icons/#{$icons}.eot?#iefix") format("ie9-skip-eot"),
   url("../fonts/icons/#{$icons}.woff") format("woff"),
   url("../fonts/icons/#{$icons}.ttf")  format("truetype");
}

// To include your own, local copies of fonts, use the following template
//
//@font-face {
//	font-family: "#{$some-font-variable}";
//	font-style: normal;
//  font-weight: 400;
//  src: url(../fonts/icons/#{$some-font-variable}.eot);
//	src: url("../fonts/icons/#{$some-font-variable}.eot?#iefix") format("ie9-skip-eot"),
//			 url("../fonts/icons/#{$some-font-variable}.woff") format("woff"),
//			 url("../fonts/icons/#{$some-font-variable}.ttf")  format("truetype");
//}

h1,h2,h3,h4,h5,h6 {
   font-family: $font-family;
   font-weight: $header-font-weight;
   color: $header-font-color;
   text-rendering: optimizeLegibility;
   a {
      color: $header-link-color;
   }
}


/*=====================================================

Links & Paragraph styles

======================================================*/

p {
   font-family: $font-family;
   font-weight: $body-font-weight;
}

a {
   color: $body-link-color;
   text-decoration: none;
   outline: 0;
   line-height: inherit;
   &:hover {
      color: $body-link-hover-color;
   }
}

/*=====================================================
Lists

======================================================*/

ul {
   list-style: square outside;
}

ol {
   list-style: decimal;
   margin-left: 30px;
}

ul {
   &.square, &.circle, &.disc {
      margin-left: 25px;
   }
   &.square {
      list-style: square outside;
   }
   &.circle {
      list-style: circle outside;
   }
   &.disc {
      list-style: disc outside;
   }
   ul {
      margin: 4px 0 5px 25px;
   }
}

ol ol {
   margin: 4px 0 5px 30px;
}


ul.large li {
   line-height: 21px;
}

dl dt {
   font-weight: bold;
}

/* Mobile */

em {
   font-style: italic;
   line-height: inherit;
}

strong {
   font-weight: $font-weight-bold;
   line-height: inherit;
}

small {
   font-size: 56.4%;
   line-height: inherit;
}

h1 small, h2 small, h3 small, h4 small, h5 small {
   color: #777;
}

/*  Blockquotes  */

blockquote {
   line-height: 20px;
   color: #777;
   p {
      line-height: 20px;
      color: #777;
   }
   margin: 0 0 18px;
   padding: 9px 20px 0 19px;
   border-left: 5px solid $horizontal-rule-color;
   cite {
      display: block;
      font-size: 12px;
      font-size: 1.2rem;
      color: $body-font-color;
      &:before {
         content: "\2014 \0020";
      }
      a {
         color: $body-font-color;
         &:visited {
            color: $body-font-color;
         }
      }
   }
}

hr {
   border: 1px solid $horizontal-rule-color;
   clear: both;
   margin: 16px 0 18px;
   height: 0;
}

abbr, acronym {
   text-transform: uppercase;
   font-size: 90%;
   color: #222;
   border-bottom: 1px solid $horizontal-rule-color;
   cursor: help;
}

abbr {
   text-transform: none;
}

/**
* Print styles.
*
* Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
* Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/

@media print {
   * {
      background: transparent !important;
      color: black !important;
      text-shadow: none !important;
      filter: none !important;
      -ms-filter: none !important;
   }
   /* Black prints faster: sanbeiji.com/archives/953 */
   p a {
      color: $body-font-color !important;
      text-decoration: underline;
      &:visited {
         color: $body-font-color !important;
         text-decoration: underline;
      }
      &[href]:after {
         content: " (" attr(href) ")";
      }
   }
   abbr[title]:after {
      content: " (" attr(title) ")";
   }
   .ir a:after {
      content: "";
   }
   a {
      &[href^="javascript:"]:after, &[href^="#"]:after {
         content: "";
      }
   }
   /* Don't show links for images, or javascript/internal links */
   pre, blockquote {
      border: 1px solid #999;
      page-break-inside: avoid;
   }
   thead {
      display: table-header-group;
   }
   /* css-discuss.incutio.com/wiki/Printing_Tables */
   tr, img {
      page-break-inside: avoid;
   }
   @page {
      margin: 0.5cm;
   }
   p, h2, h3 {
      orphans: 3;
      widows: 3;
   }
   h2, h3 {
      page-break-after: avoid;
   }
}
