// Color Palette

// rgba(0,0,0,.9) - deep black
// rgba(0,0,0,.85) - black
// rgba(0,0,0,.8) - print black
// rgba(0,0,0,.75) - light black
// rgba(0,0,0,.6) - muted black
// #ba3925 - orange
// #7a2518 - dark orange
// #3a120c - maroon
// #2561ba - blue
// #f8f8f7 - warm beige
// #f7f7f8 - cool beige
// #f7f8f7 - tinted beige
// #ddddd8 - light gray
// #d8d8d8 - lighter gray
// #efefed - very light gray

// Body (IMPORTANT $body-* variables must be defined above the defaults import)

$body-bg: #f6f6f6;
$body-font-color: rgba(0,0,0,0.8);
$body-font-family: "Source Sans Pro", "Open Sans", serif;

@import "defaults";

$sd-lime: #C0D732;
$top-border-thickness: 6px;
$sd-red: #BC4A2C;
$footer-height: 167px;

html, body {height: 100%;}

// some typography?
$font-weight-bold: 600;


// Grid Settings
$row-max-width: 1280px !default;
$gutter-in-px: 20px !default;
$cols: 12 !default;
$hybrid: 16 !default;

// Responsiveness Settings
$min-device-width: 320px;
$tablet-device-width: 768px;
$document-width: $row-max-width;
$max-device-width: 2880px;

// Spacing
$nav-distance: 0px;

// Typography
$font-family: "Source Sans Pro";
$font-style-italic: italic;
$icons: entypo;
$font-smoothing: antialiased;

// Font Weights
$font-weight-bold: 600;
$font-weight-semibold: 500;
$font-weight-medium: 400;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-thin: 300;


$header-font-weight: Normal;
$body-font-weight: $font-weight-regular;
$type-font-weight: $font-weight-regular;
$link-font-weight: $font-weight-regular;
$button-font-weight: $font-weight-semibold;
$tabs-font-weight: $font-weight-semibold;

// Typography Colors
$sd-med-blue: #1978a1;
$header-font-color: #444444 !default;
$header-link-color: $sd-med-blue !default;
$header-link-hover-color: #c03d20 !default;
$body-font-color: #555555 !default;
$body-link-color: $sd-med-blue !default;
$body-link-hover-color: $sd-med-blue !default;

// User Interface Colors
$global-bg-color: #ffffff;
$navbar-color: #BDC3C7;
$shaded-container-color: $navbar-color;
$navbar-link-color: #ffffff;
$primary-color: #3085d6;
$secondary-color: #42a35a;
$default-color: #f2f2f2;
$info-color: #4a4d50;
$danger-color: #ca3838;
$warning-color: #f6b83f;
$success-color: #58c026;
$primary-hover-color: #58b2fa;
$secondary-hover-color: #6dbb80;
$default-hover-color: #ffffff;
$info-hover-color: #868d92;
$danger-hover-color: #f14f4f;
$warning-hover-color: #fdd27f;
$success-hover-color: #66d92f;
$horizontal-rule-color: #ccc !default;
$black: #000;
$sd-gray: #e9e9e9;
$white: #fff;

// Borders
$button-radius: 4px;
$metro-radius: 0 !default;
$bigger-radius: 8px;

// Height
$default-button-height: 36px;

// Tabs
$tab-height: 42px;

// Drawers & Modals
$modal-overlay-color: rgba(0, 0, 0, 0.8);
$modal-window-color: $white;
$drawer-background-color: #3e4144;
$drawer-inner-shadow-x-offset: 0;
$drawer-inner-shadow-y-offset: 2px;
$drawer-inner-shadow-blur: 5px;
$drawer-inner-shadow-color: #313436;

// Floats
$default-float: left;
$switch-float: right;

// Default Overrides

$primary-color: darken(#2561ba, 5%);
$alert-color: lighten(#3a120c, 15%); // $code-color is 15% darker than $alert-color, so we lighten here by 15%
$global-radius: 4px;
$panel-bg: #f8f8f7;
$panel-font-color: rgba(0,0,0,0.75);

// Headings

$header-font-family: "Source Sans Pro", sans-serif;
$header-font-weight: 300;
$header-font-color: $sd-med-blue;
$header-line-height: 1.2;
$header-top-margin: 1em;
$header-word-spacing: -0.05em;
$title-font-color: rgba(0,0,0,0.85);
$title-font-weight: $header-font-weight;
$subheader-font-family: $body-font-family;
$subheader-font-size: 1rem;
$subheader-font-color: darken($header-font-color, 15%); // resolves to #7a2518
$subheader-font-weight: normal;
$subheader-font-style: italic;
$subheader-line-height: 1.45;
$subheader-top-margin: 0;
$subheader-bottom-margin: 0.25em;
$sidebar-header-align: center;
$sect-divider-size: 0px;
$sect-divider-style: normal;
$sect-divider-color: white;
$hr-border-color: #ddddd8;

// Paragraphs
// FIXME doesn't support rem math
//$paragraph-font-size: 1.0625rem; // result of emCalc(17px) converted to rem (18px is 1.125em)

// Inline Code

$code-font-family: "Anonymous Pro", "Droid Sans Mono", "DejaVu Sans Mono", monospace;
// NOTE will need to adjust code-font-size if we bump p font-size to 1.125em
//$code-font-size: 0.95em;
$code-font-size: emCalc(15px);
$code-font-weight: normal;
// FIXME don't forget about code in a table cell
$code-line-height: 1.45;
$code-color: rgba(0,0,0,0.9);
$code-bg-color: #f7f7f8;
$code-padding: 0.1em 0.5ex;
$code-word-spacing: -0.15em;
$code-text-rendering: optimizeLegibility;

// Code Blocks
// *Recommended highlight.js themes: magula, default, docco

$pre-font-family: "Anonymous Pro", "Droid Sans Mono", "DejaVu Sans Mono", "Monospace", monospace;
$pre-font-color: rgba(0,0,0,0.9);
$pre-border-size: null;
$pre-bg: #f7f7f8;
$pre-padding: emCalc(16px);
$pre-line-height: 1.45;

// Links

$anchor-text-decoration: underline;

// Lists

$list-side-margin: emCalc(24px);
$definition-list-header-margin-bottom: emCalc(5px);
$definition-list-margin-bottom: emCalc(20px);

// Blockquotes

$blockquote-font-color: $title-font-color;
$blockquote-cite-font-color: rgba(0,0,0,0.6);
$blockquote-cite-font-size: emCalc(15px);

// Tables

$table-head-font-size: inherit;
$table-row-font-size: inherit;
$table-line-height: 1.6;
$table-head-bg: #f7f8f7;
$table-even-row-bg: #f8f8f7;
$table-border-color: #dedede;
